{
  "openapi": "3.1.0",
  "info": {
    "title": "Parallax API",
    "description": "Parallax by Chicago Global — AI-powered investment research and portfolio analytics. Multi-factor scoring, portfolio analysis and tracking, financial statements, analyst estimates, ETF analytics, valuation (DCF & multiples), macro and market telemetry, and AI-generated research reports.",
    "version": "1.1.0"
  },
  "servers": [
    {
      "url": "https://api.chicago.global"
    }
  ],
  "security": [
    {
      "HTTPBearer": []
    }
  ],
  "paths": {
    "/v1/stock-report": {
      "post": {
        "tags": [
          "v1",
          "Stock Reports"
        ],
        "summary": "Stock Report",
        "description": "Generate comprehensive stock report (ASYNC - returns job_id immediately).\n\nThis endpoint creates a background job for report generation. The actual generation\nhappens asynchronously without blocking. Use GET /jobs/{job_id} to check status.\n\n**Response Format:**\n```json\n{\n    \"job_id\": \"uuid-string\",\n    \"status\": \"pending\",\n    \"symbol\": \"AAPL.O\",\n    \"check_url\": \"/v1/jobs/{job_id}\",\n    \"estimated_duration_seconds\": 300\n}\n```\n\n**Workflow:**\n1. POST /stock-report → Get job_id (returns in <1 second)\n2. Poll GET /jobs/{job_id} every 5-10 seconds\n3. When status=\"completed\", result contains pdf_url, html_url, json_url\n\n**Example:**\n```bash\n# Start generation\ncurl -X POST \"https://api/v1/stock-report\" \\\n     -H \"Authorization: Bearer key\" \\\n     -d '{\"symbol\":\"AAPL.O\",\"force\":false}'\n\n# Check status\ncurl \"https://api/v1/jobs/{job_id}\" -H \"Authorization: Bearer key\"\n```",
        "operationId": "stock_report_v1_stock_report_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StockReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Job created successfully",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/income-statement": {
      "get": {
        "tags": [
          "v1",
          "Financial Statements"
        ],
        "summary": "Income Statement",
        "description": "Get income statement data for a given symbol",
        "operationId": "income_statement_v1_income_statement_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 20,
              "minimum": 1,
              "description": "Number of periods to fetch",
              "default": 4,
              "title": "Limit"
            },
            "description": "Number of periods to fetch"
          },
          {
            "name": "freq",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 2,
              "minimum": 1,
              "description": "Frequency: 1 for Annual, 2 for Quarterly",
              "default": 1,
              "title": "Freq"
            },
            "description": "Frequency: 1 for Annual, 2 for Quarterly"
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Stock symbol(s). Single or comma-separated",
              "examples": [
                "AAPL",
                "AAPL,MSFT,GOOG"
              ],
              "title": "Symbol"
            },
            "description": "Stock symbol(s). Single or comma-separated"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/balance-sheet": {
      "get": {
        "tags": [
          "v1",
          "Financial Statements"
        ],
        "summary": "Balance Sheet",
        "description": "Get balance sheet data for a given symbol",
        "operationId": "balance_sheet_v1_balance_sheet_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 20,
              "minimum": 1,
              "description": "Number of periods to fetch",
              "default": 4,
              "title": "Limit"
            },
            "description": "Number of periods to fetch"
          },
          {
            "name": "freq",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 2,
              "minimum": 1,
              "description": "Frequency: 1 for Annual, 2 for Quarterly",
              "default": 1,
              "title": "Freq"
            },
            "description": "Frequency: 1 for Annual, 2 for Quarterly"
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Stock symbol(s). Single or comma-separated",
              "examples": [
                "AAPL",
                "AAPL,MSFT,GOOG"
              ],
              "title": "Symbol"
            },
            "description": "Stock symbol(s). Single or comma-separated"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/cash-flow": {
      "get": {
        "tags": [
          "v1",
          "Financial Statements"
        ],
        "summary": "Cash Flow",
        "description": "Get cash flow statement data for a given symbol",
        "operationId": "cash_flow_v1_cash_flow_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 20,
              "minimum": 1,
              "description": "Number of periods to fetch",
              "default": 4,
              "title": "Limit"
            },
            "description": "Number of periods to fetch"
          },
          {
            "name": "freq",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 2,
              "minimum": 1,
              "description": "Frequency: 1 for Annual, 2 for Quarterly",
              "default": 1,
              "title": "Freq"
            },
            "description": "Frequency: 1 for Annual, 2 for Quarterly"
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Stock symbol(s). Single or comma-separated",
              "examples": [
                "AAPL",
                "AAPL,MSFT,GOOG"
              ],
              "title": "Symbol"
            },
            "description": "Stock symbol(s). Single or comma-separated"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/key-ratios": {
      "get": {
        "tags": [
          "v1",
          "Financial Statements"
        ],
        "summary": "Key Ratios",
        "description": "Get key financial ratios for a given symbol",
        "operationId": "key_ratios_v1_key_ratios_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 20,
              "minimum": 1,
              "description": "Number of periods to fetch",
              "default": 4,
              "title": "Limit"
            },
            "description": "Number of periods to fetch"
          },
          {
            "name": "freq",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 2,
              "minimum": 1,
              "description": "Frequency: 1 for Annual, 2 for Quarterly",
              "default": 1,
              "title": "Freq"
            },
            "description": "Frequency: 1 for Annual, 2 for Quarterly"
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Stock symbol(s). Single or comma-separated",
              "examples": [
                "AAPL",
                "AAPL,MSFT,GOOG"
              ],
              "title": "Symbol"
            },
            "description": "Stock symbol(s). Single or comma-separated"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/news": {
      "get": {
        "tags": [
          "v1",
          "News & Analysis"
        ],
        "summary": "Get News",
        "description": "Get latest news articles and links for a given symbol",
        "operationId": "get_news_v1_news_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 50,
              "minimum": 1,
              "description": "Number of news articles to fetch",
              "default": 10,
              "title": "Limit"
            },
            "description": "Number of news articles to fetch"
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Stock symbol(s). Single or comma-separated",
              "examples": [
                "AAPL",
                "AAPL,MSFT,GOOG"
              ],
              "title": "Symbol"
            },
            "description": "Stock symbol(s). Single or comma-separated"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/company-info": {
      "get": {
        "tags": [
          "v1",
          "Company Data"
        ],
        "summary": "Company Info",
        "description": "Get company information for one or multiple symbols.",
        "operationId": "company_info_v1_company_info_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Stock symbol(s). Single or comma-separated",
              "examples": [
                "AAPL",
                "AAPL,MSFT,GOOG"
              ],
              "title": "Symbol"
            },
            "description": "Stock symbol(s). Single or comma-separated"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/peers": {
      "get": {
        "tags": [
          "v1",
          "Company Data"
        ],
        "summary": "Peers",
        "description": "Get peer comparison data for a given symbol including the company and its peers.\n\nResponse: list of peer rows ordered by MKTCAP_B DESC. The row matching\nthe resolved target symbol carries `is_target: true`; all other rows\ncarry `is_target: false`. Clients should identify the target by this\nflag rather than by position.",
        "operationId": "peers_v1_peers_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Stock symbol(s). Single or comma-separated",
              "examples": [
                "AAPL",
                "AAPL,MSFT,GOOG"
              ],
              "title": "Symbol"
            },
            "description": "Stock symbol(s). Single or comma-separated"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/peers-analysis": {
      "post": {
        "tags": [
          "v1",
          "Analysis"
        ],
        "summary": "Peers Analysis",
        "description": "Get AI-generated peers comparison analysis (ASYNC - returns job_id immediately).\n\nCreates a background job for AI-powered peer comparison. Analysis typically takes 30-60 seconds.\nUse GET /jobs/{job_id} to check status and retrieve results.",
        "operationId": "peers_analysis_v1_peers_analysis_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Stock symbol(s). Single or comma-separated",
              "examples": [
                "AAPL",
                "AAPL,MSFT,GOOG"
              ],
              "title": "Symbol"
            },
            "description": "Stock symbol(s). Single or comma-separated"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/daily-price": {
      "get": {
        "tags": [
          "v1",
          "Price Data"
        ],
        "summary": "Daily Price",
        "description": "Get daily price data for one or multiple symbols. If dates not provided, returns latest price.",
        "operationId": "daily_price_v1_daily_price_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Start date in YYYY-MM-DD format",
              "examples": [
                "2024-01-01"
              ],
              "title": "Start Date"
            },
            "description": "Start date in YYYY-MM-DD format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "End date in YYYY-MM-DD format",
              "examples": [
                "2024-12-31"
              ],
              "title": "End Date"
            },
            "description": "End date in YYYY-MM-DD format"
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Stock symbol(s). Single or comma-separated",
              "examples": [
                "AAPL",
                "AAPL,MSFT,GOOG"
              ],
              "title": "Symbol"
            },
            "description": "Stock symbol(s). Single or comma-separated"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/rolling-volatility": {
      "get": {
        "tags": [
          "v1",
          "Price Data"
        ],
        "summary": "Rolling Volatility",
        "description": "Get rolling volatility for a symbol over a specified date range.",
        "operationId": "rolling_volatility_v1_rolling_volatility_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Start date in YYYY-MM-DD format",
              "examples": [
                "2024-01-01"
              ],
              "title": "Start Date"
            },
            "description": "Start date in YYYY-MM-DD format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "End date in YYYY-MM-DD format",
              "examples": [
                "2024-12-31"
              ],
              "title": "End Date"
            },
            "description": "End date in YYYY-MM-DD format"
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Rolling window size in days (default: 252)",
              "default": 252,
              "title": "Window"
            },
            "description": "Rolling window size in days (default: 252)"
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Stock symbol(s). Single or comma-separated",
              "examples": [
                "AAPL",
                "AAPL,MSFT,GOOG"
              ],
              "title": "Symbol"
            },
            "description": "Stock symbol(s). Single or comma-separated"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/rolling-drawdown": {
      "get": {
        "tags": [
          "v1",
          "Price Data"
        ],
        "summary": "Rolling Drawdown",
        "description": "Get rolling drawdown for a symbol over a specified date range.",
        "operationId": "rolling_drawdown_v1_rolling_drawdown_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Start date in YYYY-MM-DD format",
              "examples": [
                "2024-01-01"
              ],
              "title": "Start Date"
            },
            "description": "Start date in YYYY-MM-DD format"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "End date in YYYY-MM-DD format",
              "examples": [
                "2024-12-31"
              ],
              "title": "End Date"
            },
            "description": "End date in YYYY-MM-DD format"
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "description": "Rolling window size in days (default: 252)",
              "default": 252,
              "title": "Window"
            },
            "description": "Rolling window size in days (default: 252)"
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Stock symbol(s). Single or comma-separated",
              "examples": [
                "AAPL",
                "AAPL,MSFT,GOOG"
              ],
              "title": "Symbol"
            },
            "description": "Stock symbol(s). Single or comma-separated"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/historical-scores": {
      "get": {
        "tags": [
          "v1",
          "Score Data"
        ],
        "summary": "Historical Scores",
        "description": "Get historical scores for a symbol (default: 1 year = 52 weeks).",
        "operationId": "historical_scores_v1_historical_scores_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 200,
              "minimum": 1,
              "description": "Number of weeks to fetch (default: 52 for 1 year)",
              "default": 52,
              "title": "Limit"
            },
            "description": "Number of weeks to fetch (default: 52 for 1 year)"
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Stock symbol(s). Single or comma-separated",
              "examples": [
                "AAPL",
                "AAPL,MSFT,GOOG"
              ],
              "title": "Symbol"
            },
            "description": "Stock symbol(s). Single or comma-separated"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/score-analysis": {
      "post": {
        "tags": [
          "v1",
          "Score Data"
        ],
        "summary": "Score Analysis",
        "description": "Get AI-generated score analysis (ASYNC - returns job_id immediately).\n\nCreates a background job for AI-powered score analysis. Analysis typically takes 30-60 seconds.\nUse GET /jobs/{job_id} to check status and retrieve results.",
        "operationId": "score_analysis_v1_score_analysis_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Stock symbol(s). Single or comma-separated",
              "examples": [
                "AAPL",
                "AAPL,MSFT,GOOG"
              ],
              "title": "Symbol"
            },
            "description": "Stock symbol(s). Single or comma-separated"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/score-metrics": {
      "get": {
        "tags": [
          "v1",
          "Score Data"
        ],
        "summary": "Score Metrics",
        "description": "Get calculated score metrics for a symbol.",
        "operationId": "score_metrics_v1_score_metrics_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Stock symbol(s). Single or comma-separated",
              "examples": [
                "AAPL",
                "AAPL,MSFT,GOOG"
              ],
              "title": "Symbol"
            },
            "description": "Stock symbol(s). Single or comma-separated"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/returns-calendar": {
      "get": {
        "tags": [
          "v1",
          "Price Data"
        ],
        "summary": "Returns Calendar",
        "description": "Get returns calendar for a symbol (monthly, yearly returns).",
        "operationId": "returns_calendar_v1_returns_calendar_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "M",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include monthly returns (default: True)",
              "default": true,
              "title": "M"
            },
            "description": "Include monthly returns (default: True)"
          },
          {
            "name": "Y",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Include yearly returns (default: True)",
              "default": true,
              "title": "Y"
            },
            "description": "Include yearly returns (default: True)"
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Stock symbol(s). Single or comma-separated",
              "examples": [
                "AAPL",
                "AAPL,MSFT,GOOG"
              ],
              "title": "Symbol"
            },
            "description": "Stock symbol(s). Single or comma-separated"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/news-analysis": {
      "post": {
        "tags": [
          "v1",
          "News & Analysis"
        ],
        "summary": "News Analysis",
        "description": "Get AI-generated news analysis (ASYNC - returns job_id immediately).\n\nCreates a background job for news analysis. Typically takes 30-90 seconds.\nUse GET /jobs/{job_id} to check status and retrieve results.",
        "operationId": "news_analysis_v1_news_analysis_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 50,
              "minimum": 1,
              "description": "Number of news articles to analyze",
              "default": 10,
              "title": "Limit"
            },
            "description": "Number of news articles to analyze"
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Stock symbol(s). Single or comma-separated",
              "examples": [
                "AAPL",
                "AAPL,MSFT,GOOG"
              ],
              "title": "Symbol"
            },
            "description": "Stock symbol(s). Single or comma-separated"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/company-background": {
      "post": {
        "tags": [
          "v1",
          "Company Data"
        ],
        "summary": "Company Background",
        "description": "Get company background/history information for a symbol (async job).\n\nThis endpoint returns immediately with a job_id. Use GET /v1/jobs/{job_id} to check status.\nTypical processing time: 2-3 minutes.",
        "operationId": "company_background_v1_company_background_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Stock symbol(s). Single or comma-separated",
              "examples": [
                "AAPL",
                "AAPL,MSFT,GOOG"
              ],
              "title": "Symbol"
            },
            "description": "Stock symbol(s). Single or comma-separated"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/financial-analysis": {
      "post": {
        "tags": [
          "v1",
          "Analysis"
        ],
        "summary": "Financial Analysis",
        "description": "Get comprehensive financial analysis (ASYNC - returns job_id immediately).\n\nCreates a background job for deep financial analysis using Krishna Palepu's framework.\nAnalysis typically takes 2-5 minutes.\nUse GET /jobs/{job_id} to check status and retrieve results.",
        "operationId": "financial_analysis_v1_financial_analysis_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Stock symbol(s). Single or comma-separated",
              "examples": [
                "AAPL",
                "AAPL,MSFT,GOOG"
              ],
              "title": "Symbol"
            },
            "description": "Stock symbol(s). Single or comma-separated"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/financial-summary": {
      "get": {
        "tags": [
          "v1",
          "Financial Data"
        ],
        "summary": "Financial Summary",
        "description": "Get financial summary text for a symbol.",
        "operationId": "financial_summary_v1_financial_summary_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Stock symbol(s). Single or comma-separated",
              "examples": [
                "AAPL",
                "AAPL,MSFT,GOOG"
              ],
              "title": "Symbol"
            },
            "description": "Stock symbol(s). Single or comma-separated"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/dividend-history": {
      "get": {
        "tags": [
          "v1",
          "Financial Data"
        ],
        "summary": "Dividend History",
        "description": "Get dividend history for a symbol.",
        "operationId": "dividend_history_v1_dividend_history_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 1000,
                  "minimum": 1
                },
                {
                  "type": "null"
                }
              ],
              "description": "Number of dividend events to return. If not provided, returns complete history",
              "title": "Limit"
            },
            "description": "Number of dividend events to return. If not provided, returns complete history"
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Stock symbol(s). Single or comma-separated",
              "examples": [
                "AAPL",
                "AAPL,MSFT,GOOG"
              ],
              "title": "Symbol"
            },
            "description": "Stock symbol(s). Single or comma-separated"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/divyield-history": {
      "get": {
        "tags": [
          "v1",
          "Financial Data"
        ],
        "summary": "Divyield History",
        "description": "Get dividend yield history for a symbol (daily yield data).",
        "operationId": "divyield_history_v1_divyield_history_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Start date in 'YYYY-MM-DD' format. If not provided, fetches from beginning",
              "examples": [
                "2024-01-01"
              ],
              "title": "Start Date"
            },
            "description": "Start date in 'YYYY-MM-DD' format. If not provided, fetches from beginning"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "End date in 'YYYY-MM-DD' format. If not provided, fetches until today",
              "examples": [
                "2024-12-31"
              ],
              "title": "End Date"
            },
            "description": "End date in 'YYYY-MM-DD' format. If not provided, fetches until today"
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Stock symbol(s). Single or comma-separated",
              "examples": [
                "AAPL",
                "AAPL,MSFT,GOOG"
              ],
              "title": "Symbol"
            },
            "description": "Stock symbol(s). Single or comma-separated"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/technical-analysis": {
      "post": {
        "tags": [
          "v1",
          "Technical Analysis"
        ],
        "summary": "Technical Analysis",
        "description": "Get comprehensive technical analysis (ASYNC - returns job_id immediately).\n\nCreates a background job for technical analysis including:\n- Executive summary with key metrics\n- Trend analysis (moving averages, price patterns)\n- Momentum indicators (RSI, MACD)\n- Price action analysis (support/resistance)\n- Volume analysis\n- Volatility assessment\n- Risk assessment\n\nAnalysis typically takes 15-30 seconds.\nUse GET /jobs/{job_id} to check status and retrieve results.",
        "operationId": "technical_analysis_v1_technical_analysis_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "force",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Force regeneration even if cached analysis exists",
              "default": false,
              "title": "Force"
            },
            "description": "Force regeneration even if cached analysis exists"
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Stock symbol(s). Single or comma-separated",
              "examples": [
                "AAPL",
                "AAPL,MSFT,GOOG"
              ],
              "title": "Symbol"
            },
            "description": "Stock symbol(s). Single or comma-separated"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/sector-avg-scores": {
      "get": {
        "tags": [
          "v1",
          "Score Data"
        ],
        "summary": "Sector Avg Scores",
        "description": "Get average scores for sectors.\n- No sector, no market → global averages for all sectors\n- No sector, market provided → all sectors in that market\n- Sector provided, no market → global avg for that sector\n- Both provided → avg of sector in that market",
        "operationId": "sector_avg_scores_v1_sector_avg_scores_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "sector",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Sector name (e.g., 'Technology', 'Healthcare'). If not provided, returns all sectors",
              "examples": [
                "Technology"
              ],
              "title": "Sector"
            },
            "description": "Sector name (e.g., 'Technology', 'Healthcare'). If not provided, returns all sectors"
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Market filter (e.g., 'US', 'Europe'). If not provided, returns global averages",
              "examples": [
                "US"
              ],
              "title": "Market"
            },
            "description": "Market filter (e.g., 'US', 'Europe'). If not provided, returns global averages"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/current-ratios": {
      "get": {
        "tags": [
          "v1",
          "Financial Ratios"
        ],
        "summary": "Current Ratios",
        "description": "Get current financial ratios for a symbol.",
        "operationId": "current_ratios_v1_current_ratios_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Stock symbol(s). Single or comma-separated",
              "examples": [
                "AAPL",
                "AAPL,MSFT,GOOG"
              ],
              "title": "Symbol"
            },
            "description": "Stock symbol(s). Single or comma-separated"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/altman-zscore": {
      "get": {
        "tags": [
          "v1",
          "Financial Ratios"
        ],
        "summary": "Altman Zscore",
        "description": "Get Altman Z-Score data for a symbol.",
        "operationId": "altman_zscore_v1_altman_zscore_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 2100,
                  "minimum": 1900
                },
                {
                  "type": "null"
                }
              ],
              "description": "Specific year to fetch. If not provided, returns latest record",
              "title": "Year"
            },
            "description": "Specific year to fetch. If not provided, returns latest record"
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Stock symbol(s). Single or comma-separated",
              "examples": [
                "AAPL",
                "AAPL,MSFT,GOOG"
              ],
              "title": "Symbol"
            },
            "description": "Stock symbol(s). Single or comma-separated"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/piotroski-fscore": {
      "get": {
        "tags": [
          "v1",
          "Financial Ratios"
        ],
        "summary": "Piotroski Fscore",
        "description": "Get Piotroski F-Score data for a symbol.",
        "operationId": "piotroski_fscore_v1_piotroski_fscore_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "integer",
                  "maximum": 2100,
                  "minimum": 1900
                },
                {
                  "type": "null"
                }
              ],
              "description": "Specific year to fetch. If not provided, returns latest record",
              "title": "Year"
            },
            "description": "Specific year to fetch. If not provided, returns latest record"
          },
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Stock symbol(s). Single or comma-separated",
              "examples": [
                "AAPL",
                "AAPL,MSFT,GOOG"
              ],
              "title": "Symbol"
            },
            "description": "Stock symbol(s). Single or comma-separated"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/risk-return-profile": {
      "get": {
        "tags": [
          "v1",
          "Analysis"
        ],
        "summary": "Risk Return Profile",
        "description": "Get risk-return profile for a symbol and its peers (1-year return and volatility).",
        "operationId": "risk_return_profile_v1_risk_return_profile_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Stock symbol(s). Single or comma-separated",
              "examples": [
                "AAPL",
                "AAPL,MSFT,GOOG"
              ],
              "title": "Symbol"
            },
            "description": "Stock symbol(s). Single or comma-separated"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/macro-context": {
      "post": {
        "tags": [
          "v1",
          "Analysis"
        ],
        "summary": "Macro Context",
        "description": "Get macroeconomic context for a specific country (async job).\n\nThis endpoint returns immediately with a job_id. Use GET /v1/jobs/{job_id} to check status.\nTypical processing time: 2-3 minutes.",
        "operationId": "macro_context_v1_macro_context_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "country",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Country name for macroeconomic context",
              "examples": [
                "United States"
              ],
              "title": "Country"
            },
            "description": "Country name for macroeconomic context"
          }
        ],
        "responses": {
          "202": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/validate-symbol": {
      "get": {
        "tags": [
          "v1",
          "Validation"
        ],
        "summary": "Validate Symbol Endpoint",
        "description": "Validate if a stock symbol exists and return the resolved RIC",
        "operationId": "validate_symbol_endpoint_v1_validate_symbol_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Stock symbol to validate",
              "examples": [
                "AAPL",
                "RELIANCE"
              ],
              "title": "Symbol"
            },
            "description": "Stock symbol to validate"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/jobs": {
      "get": {
        "tags": [
          "v1",
          "Jobs"
        ],
        "summary": "List Jobs",
        "description": "List background jobs with optional filtering.\n\nUseful for monitoring and debugging.",
        "operationId": "list_jobs_v1_jobs_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by status (pending, processing, completed, failed)",
              "title": "Status"
            },
            "description": "Filter by status (pending, processing, completed, failed)"
          },
          {
            "name": "job_type",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter by job type (stock_report, score_analysis, etc.)",
              "title": "Job Type"
            },
            "description": "Filter by job type (stock_report, score_analysis, etc.)"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "description": "Number of jobs to return",
              "default": 50,
              "title": "Limit"
            },
            "description": "Number of jobs to return"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/jobs/{job_id}": {
      "get": {
        "tags": [
          "v1",
          "Jobs"
        ],
        "summary": "Get Job Status",
        "description": "Get status of a background job.\n\nUse this endpoint to check the status of long-running operations like:\n- Stock report generation (/stock-report)\n- Score analysis (/score-analysis-async)\n- News analysis (/news-analysis-async)\n- Financial analysis (/financial-analysis-async)\n\nStatus values:\n- pending: Job created, not started yet\n- processing: Job is currently running (check 'progress' field for details)\n- completed: Job finished successfully (result contains the data)\n- failed: Job failed (error contains the error message)\n\nExample:\n    POST /v1/stock-report -> {\"job_id\": \"abc-123\", \"status\": \"pending\"}\n    GET /v1/jobs/abc-123 -> {\"status\": \"processing\", \"progress\": \"Generating PDF...\"}\n    GET /v1/jobs/abc-123 -> {\"status\": \"completed\", \"result\": {...}}",
        "operationId": "get_job_status_v1_jobs__job_id__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Job Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/portfolio/analyze": {
      "post": {
        "tags": [
          "v1",
          "Portfolio"
        ],
        "summary": "Analyze Portfolio",
        "description": "Analyze a portfolio with multi-currency support, rebalancing, and comprehensive metrics (ASYNC - returns job_id immediately).\n\nThis endpoint creates a background job for portfolio analysis. The actual analysis\nhappens asynchronously without blocking. Use GET /jobs/{job_id} to check status.\n\n**Response Format:**\n```json\n{\n    \"job_id\": \"uuid-string\",\n    \"status\": \"pending\",\n    \"check_url\": \"/v1/jobs/{job_id}\",\n    \"estimated_duration_seconds\": 90\n}\n```\n\n**Workflow:**\n1. POST /portfolio/analyze -> Get job_id (returns in <1 second)\n2. Poll GET /jobs/{job_id} every 3-5 seconds\n3. When status=\"completed\", result contains full analysis\n\n**Portfolio Analysis Includes:**\n- Performance metrics (returns, Sharpe, Sortino, etc.)\n- Risk metrics (volatility, drawdown, VaR, etc.)\n- Attribution analysis (by security, sector, market, currency)\n- Rolling metrics (30/60/90-day windows)\n- Benchmark comparison\n- Transaction history and rebalancing details\n\n**Portfolio Format:**\n- Each holding requires: date, symbol, and weight (as decimal)\n- Weights should sum to 1.0 for each date\n- Multiple dates can be provided for rebalancing\n\n**Field Selection (Optional):**\nUse the `fields` parameter to return only specific data sections. If omitted, all fields are returned.\n\nAvailable fields: `portfolio_parameters`, `portfolio_input`, `data_quality`, `portfolio_summary`,\n`performance_metrics`, `rolling_metrics`, `drawdown_analysis`, `portfolio_scores`, `concentration_metrics`,\n`transactions`, `company_info`, `latest_holdings`, `market_allocation`, `sector_allocation`,\n`currency_allocation`, `company_contribution`, `sector_contribution`, `market_contribution`,\n`time_period_returns`, `monthly_returns`, `annual_returns`, `daily_summary`.\n`portfolio_daily` is excluded from the default response because it is too large.\n\n**Example Request:**\n```json\n{\n  \"start_date\": \"2024-01-01\",\n  \"end_date\": \"2024-11-01\",\n  \"base_currency\": \"USD\",\n  \"benchmark\": \"SPY\",\n  \"initial_value\": 10000,\n  \"portfolio\": [\n    {\"date\": \"2024-01-01\", \"symbol\": \"AAPL\", \"weight\": 0.25},\n    {\"date\": \"2024-01-01\", \"symbol\": \"MSFT\", \"weight\": 0.25},\n    {\"date\": \"2024-01-01\", \"symbol\": \"GOOGL\", \"weight\": 0.25},\n    {\"date\": \"2024-01-01\", \"symbol\": \"AMZN\", \"weight\": 0.25}\n  ],\n  \"fields\": [\"portfolio_summary\", \"performance_metrics\", \"latest_holdings\"]\n}\n```\n\n**Example:**\n```bash\n# Start analysis\ncurl -X POST \"https://api/v1/portfolio/analyze\" \\\n     -H \"Authorization: Bearer key\" \\\n     -d '{\"start_date\":\"2024-01-01\",...}'\n\n# Check status\ncurl \"https://api/v1/jobs/{job_id}\" -H \"Authorization: Bearer key\"\n```",
        "operationId": "analyze_portfolio_v1_portfolio_analyze_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortfolioAnalysisRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/portfolio/validate": {
      "post": {
        "tags": [
          "v1",
          "Portfolio Tracker"
        ],
        "summary": "Validate Portfolio",
        "description": "Dry-run validation for a new portfolio definition (same body as /track).\n\nReturns every validation error and warning without persisting anything.\nUse this client-side before calling /track to fix all issues in one pass.",
        "operationId": "validate_portfolio_v1_portfolio_validate_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackPortfolioRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortfolioValidateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/portfolio/resolve": {
      "post": {
        "tags": [
          "v1",
          "Portfolio Tracker"
        ],
        "summary": "Resolve Portfolio",
        "description": "Resolve a dirty portfolio into a clean one that passes /validate.\n\nSame body as /track. Applies deterministic clean-up rules (canonicalize\nsymbols to RICs, drop unresolvable symbols + future-dated rows, dedup,\ndrop non-positive weights, renormalize each date to sum 1.0), then re-runs\nthe SAME validator /track uses to prove the result is clean.\n\nReturns a discriminated status (HTTP 200 in all three cases — this is a\ndry-run that never persists):\n  - status \"clean\":        input already valid, returned unchanged.\n  - status \"resolved\":     input was dirty, the returned `portfolio` is the\n                           fixed definition (pass it straight to /track).\n  - status \"unresolvable\": the portfolio is broken beyond automatic repair\n                           (e.g. nothing old enough to track, or every date\n                           emptied out). `validation.errors` says why.\nEvery edit is itemized in `changes` / `dropped` — nothing is altered\nsilently.",
        "operationId": "resolve_portfolio_v1_portfolio_resolve_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackPortfolioRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/portfolio/{portfolio_key}/validate": {
      "post": {
        "tags": [
          "v1",
          "Portfolio Tracker"
        ],
        "summary": "Validate Portfolio Update",
        "description": "Dry-run validation for an update (same optional fields as /update).\n\nMerges the payload onto the stored registry + holdings, then validates the\nresulting definition — the same snapshot /update would persist if accepted.",
        "operationId": "validate_portfolio_update_v1_portfolio__portfolio_key__validate_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "portfolio_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Portfolio Key"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePortfolioRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortfolioValidateResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/portfolio/track": {
      "post": {
        "tags": [
          "v1",
          "Portfolio Tracker"
        ],
        "summary": "Track Portfolio",
        "description": "Register a tracked portfolio and kick off its initial analytics in the\nbackground, returning the portfolio_key immediately (no compute wait).",
        "operationId": "track_portfolio_v1_portfolio_track_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackPortfolioRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/portfolio/{portfolio_key}/update": {
      "post": {
        "tags": [
          "v1",
          "Portfolio Tracker"
        ],
        "summary": "Update Portfolio",
        "description": "Update a tracked portfolio's holdings/params, then recompute its analytics\nin the background. Returns immediately (the holdings change + series clear are\ncheap and synchronous; the engine rebuild runs off the request path).",
        "operationId": "update_portfolio_v1_portfolio__portfolio_key__update_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "portfolio_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Portfolio Key"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePortfolioRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/portfolio/{portfolio_key}/increment": {
      "post": {
        "tags": [
          "v1",
          "Portfolio Tracker"
        ],
        "summary": "Increment Portfolio",
        "description": "Extend a tracked portfolio's analytics to yesterday. No request body —\nholdings and params are unchanged. Compute runs as a background job.",
        "operationId": "increment_portfolio_v1_portfolio__portfolio_key__increment_post",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "portfolio_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Portfolio Key"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/portfolio/{portfolio_key}": {
      "get": {
        "tags": [
          "v1",
          "Portfolio Tracker"
        ],
        "summary": "Get Portfolio",
        "description": "Get portfolio metadata.",
        "operationId": "get_portfolio_v1_portfolio__portfolio_key__get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "portfolio_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Portfolio Key"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      },
      "delete": {
        "tags": [
          "v1",
          "Portfolio Tracker"
        ],
        "summary": "Delete Portfolio",
        "description": "Delete a tracked portfolio and all its data.",
        "operationId": "delete_portfolio_v1_portfolio__portfolio_key__delete",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "portfolio_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Portfolio Key"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/portfolio/{portfolio_key}/analytics": {
      "get": {
        "tags": [
          "v1",
          "Portfolio Tracker"
        ],
        "summary": "Get Portfolio Analytics",
        "description": "Read the derived analytics for a tracked portfolio. Fast and read-only —\nno compute. Returns a discriminated status:\n  - {status: \"ready\", analytics}  when the series is computed\n  - {status: \"not_computed\"} (200) when the portfolio exists but its series\n    is empty (a background compute hasn't landed) — the client triggers a\n    rebuild and polls, rather than dead-ending on a 404\n  - 404 only when the portfolio genuinely doesn't exist.",
        "operationId": "get_portfolio_analytics_v1_portfolio__portfolio_key__analytics_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "portfolio_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Portfolio Key"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/portfolio/{portfolio_key}/holdings": {
      "get": {
        "tags": [
          "v1",
          "Portfolio Tracker"
        ],
        "summary": "Get Portfolio Holdings",
        "description": "Get the portfolio DEFINITION: every holding in the registry across all\nrebalance dates, with the as-defined weights (date, symbol, weight). This is\nthe portfolio exactly as the user/builder set it — the source of truth for\nthe definition. For the latest COMPUTED state (drifted weights) use\n/holdings/latest.",
        "operationId": "get_portfolio_holdings_v1_portfolio__portfolio_key__holdings_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "portfolio_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Portfolio Key"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/portfolio/{portfolio_key}/holdings/latest": {
      "get": {
        "tags": [
          "v1",
          "Portfolio Tracker"
        ],
        "summary": "Get Portfolio Holdings Latest",
        "description": "Get the latest COMPUTED holdings from ClickHouse — the portfolio's current\nstate on its most recent computed day, with drifted weights / ending values.\nFor the as-defined definition (all rebalance dates) use /holdings.\n\nDiscriminated status, matching /analytics:\n  - {status: \"ready\", holdings}   when the series is computed\n  - {status: \"not_computed\", holdings: []} (200) when the portfolio exists but\n    its series is empty (a background compute hasn't landed)\n  - 404 only when the portfolio genuinely doesn't exist.",
        "operationId": "get_portfolio_holdings_latest_v1_portfolio__portfolio_key__holdings_latest_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "portfolio_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Portfolio Key"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/portfolio/{portfolio_key}/summary": {
      "get": {
        "tags": [
          "v1",
          "Portfolio Tracker"
        ],
        "summary": "Get Portfolio Summary",
        "description": "Get daily summary time series for a tracked portfolio from ClickHouse.\n\nDiscriminated status, matching /analytics:\n  - {status: \"ready\", daily_summary}   when the series is computed\n  - {status: \"not_computed\", daily_summary: []} (200) when the portfolio\n    exists but its series is empty (a background compute hasn't landed)\n  - 404 only when the portfolio genuinely doesn't exist.",
        "operationId": "get_portfolio_summary_v1_portfolio__portfolio_key__summary_get",
        "security": [
          {
            "HTTPBearer": []
          }
        ],
        "parameters": [
          {
            "name": "portfolio_key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Portfolio Key"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        }
      }
    },
    "/v1/portfolioreport": {
      "post": {
        "tags": [
          "v1",
          "Portfolio Analytics"
        ],
        "summary": "Portfolio Report",
        "description": "Generate a PDF/HTML portfolio report from analyzer output (ASYNC - returns job_id immediately).\n\nThis endpoint creates a background job for report generation. The actual generation\nhappens asynchronously without blocking. Use GET /jobs/{job_id} to check status.\n\n**Request Body:**\n- `portfolio_data`: The complete result from the /analyzer endpoint\n- `format`: Output format - \"pdf\" (default), \"html\", or \"both\"\n\n**Response Format:**\n```json\n{\n    \"job_id\": \"port-uuid-string\",\n    \"status\": \"pending\",\n    \"format\": \"pdf\",\n    \"check_url\": \"/v1/jobs/{job_id}\",\n    \"estimated_duration_seconds\": 60\n}\n```\n\n**Workflow:**\n1. POST /portfolioreport -> Get job_id (returns in <1 second)\n2. Poll GET /jobs/{job_id} every 2-5 seconds\n3. When status=\"completed\", result contains pdf_url, html_url, expires_at\n\n**Report includes:**\n- Executive Summary with key metrics\n- Portfolio Value vs Benchmark chart\n- Drawdown Analysis\n- Sector & Market Allocation pie charts\n- Top Holdings bar chart\n- Monthly Returns heatmap\n- Rolling Sharpe Ratio chart\n- Period returns (MTD, YTD, 1Y, etc.)\n\n**Note:** Report URLs expire after 24 hours.\n\n**Example:**\n```bash\n# First get analyzer result\nRESULT=$(curl -X POST \"https://api/v1/analyzer\" ...)\n\n# Start report generation\ncurl -X POST \"https://api/v1/portfolioreport\" \\\n     -H \"Authorization: Bearer YOUR_KEY\" \\\n     -H \"Content-Type: application/json\" \\\n     -d '{\"portfolio_data\": '\"$RESULT\"', \"format\": \"pdf\"}'\n\n# Check status\ncurl \"https://api/v1/jobs/{job_id}\" -H \"Authorization: Bearer YOUR_KEY\"\n```",
        "operationId": "portfolio_report_v1_portfolioreport_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortfolioReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Job created successfully",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "description": "Invalid portfolio data",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Job creation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/cio-report": {
      "post": {
        "tags": [
          "v1",
          "CIO Report"
        ],
        "summary": "Generate Cio Report",
        "description": "Generate a Chief Investment Officer report (ASYNC - returns job_id immediately).",
        "operationId": "generate_cio_report_v1_cio_report_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CIOReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "HTTPBearer": []
          }
        ]
      }
    },
    "/v1/assessment": {
      "post": {
        "tags": [
          "v1",
          "Assessment"
        ],
        "summary": "Create Assessment",
[...]
