{
  "openapi": "3.1.0",
  "info": {
    "title": "Parallax API",
    "description": "Financial data and portfolio analytics API. Analyze portfolios with multi-currency support, rebalancing, and comprehensive metrics.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.chicago.global"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/portfolio/analyze": {
      "post": {
        "summary": "Analyze Portfolio",
        "description": "Analyze a portfolio with multi-currency support, rebalancing, and comprehensive metrics. This endpoint uses async job processing - submit your request, receive a job ID, then poll for results.",
        "operationId": "analyzePortfolio",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortfolioAnalysisRequest"
              },
              "example": {
                "start_date": "2024-01-01",
                "end_date": "2024-11-01",
                "base_currency": "USD",
                "benchmark": "ACWI",
                "initial_value": 10000,
                "portfolio": [
                  {
                    "date": "2024-01-01",
                    "symbol": "AAPL.O",
                    "weight": 0.25
                  },
                  {
                    "date": "2024-01-01",
                    "symbol": "MSFT.O",
                    "weight": 0.25
                  },
                  {
                    "date": "2024-01-01",
                    "symbol": "GOOGL.O",
                    "weight": 0.25
                  },
                  {
                    "date": "2024-01-01",
                    "symbol": "AMZN.O",
                    "weight": 0.25
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job created successfully. Poll the check_url for results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobCreatedResponse"
                },
                "example": {
                  "job_id": "port-a3522a92-87ed-4be0-a912-ad56ed6a8806",
                  "status": "pending",
                  "check_url": "/v1/jobs/port-a3522a92-87ed-4be0-a912-ad56ed6a8806",
                  "estimated_duration_seconds": 90,
                  "message": "Portfolio analysis job created",
                  "portfolio_summary": {
                    "positions": 4,
                    "start_date": "2024-01-01",
                    "end_date": "2024-11-01"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Invalid or missing API key"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error - Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/{job_id}": {
      "get": {
        "summary": "Get Job Status",
        "description": "Check the status of an async job. Poll this endpoint until status is 'completed' or 'failed'.",
        "operationId": "getJobStatus",
        "parameters": [
          {
            "name": "job_id",
            "in": "path",
            "required": true,
            "description": "The job ID returned from the analyze endpoint",
            "schema": {
              "type": "string"
            },
            "example": "port-a3522a92-87ed-4be0-a912-ad56ed6a8806"
          }
        ],
        "responses": {
          "200": {
            "description": "Job status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Job not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/technical-analysis": {
      "post": {
        "summary": "Technical Analysis",
        "description": "Get AI-powered technical analysis including trend analysis, momentum indicators (RSI, MACD), support/resistance levels, volume analysis, and volatility assessment. This endpoint uses async job processing - submit your request, receive a job ID, then poll for results.",
        "operationId": "technicalAnalysis",
        "tags": [
          "Analysis"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "Stock symbol (e.g., AAPL.O for Apple Inc)",
            "schema": {
              "type": "string"
            },
            "example": "AAPL.O"
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "description": "Force regeneration even if cached analysis exists",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Job created successfully. Poll the check_url for results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TechnicalAnalysisJobResponse"
                },
                "example": {
                  "job_id": "tech-a3522a92-87ed-4be0-a912-ad56ed6a8806",
                  "status": "pending",
                  "symbol": "AAPL.O",
                  "force": false,
                  "check_url": "/v1/jobs/tech-a3522a92-87ed-4be0-a912-ad56ed6a8806",
                  "estimated_duration_seconds": 30,
                  "message": "Technical analysis started for AAPL.O."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financial-analysis": {
      "post": {
        "summary": "Financial Analysis",
        "description": "Get comprehensive AI-powered financial analysis including business strategy, accounting quality, financial performance, and investment recommendation. Analysis typically takes 2-5 minutes.",
        "operationId": "financialAnalysis",
        "tags": [
          "Analysis"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "Stock symbol (e.g., AAPL.O for Apple Inc)",
            "schema": {
              "type": "string"
            },
            "example": "AAPL.O"
          }
        ],
        "responses": {
          "202": {
            "description": "Job created successfully. Poll the check_url for results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinancialAnalysisJobResponse"
                },
                "example": {
                  "job_id": "fin-a3522a92-87ed-4be0-a912-ad56ed6a8806",
                  "status": "pending",
                  "symbol": "AAPL.O",
                  "check_url": "/v1/jobs/fin-a3522a92-87ed-4be0-a912-ad56ed6a8806",
                  "estimated_duration_seconds": 180,
                  "message": "Financial analysis started for AAPL.O."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/stock-report": {
      "post": {
        "summary": "Generate Stock Report",
        "description": "Generate a comprehensive stock report including financial analysis, valuation metrics, and AI-generated insights. This endpoint uses async job processing - submit your request, receive a job ID, then poll for results.",
        "operationId": "generateStockReport",
        "tags": [
          "Stock Reports"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StockReportRequest"
              },
              "example": {
                "symbol": "AAPL.O",
                "force": false
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job created successfully. Poll the check_url for results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockReportJobResponse"
                },
                "example": {
                  "job_id": "stock-a3522a92-87ed-4be0-a912-ad56ed6a8806",
                  "status": "pending",
                  "symbol": "AAPL.O",
                  "force": false,
                  "check_url": "/v1/jobs/stock-a3522a92-87ed-4be0-a912-ad56ed6a8806",
                  "estimated_duration_seconds": 600,
                  "message": "Stock report generation started for AAPL.O. Poll the check_url to get results."
                }
              }
            }
          },
          "400": {
            "description": "Invalid symbol",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "Invalid symbol 'INVALID': No company data found for this symbol."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/macro-report": {
      "get": {
        "summary": "Get Macro Report",
        "description": "Fetch macro economic report for a specific market. Returns report metadata and optionally the full report content. This is a synchronous endpoint - results are returned immediately.",
        "operationId": "getMacroReport",
        "tags": [
          "Macro Reports"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": true,
            "description": "Market name (e.g., 'United States', 'Japan', 'Germany')",
            "schema": {
              "type": "string"
            },
            "example": "United States"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format: 'json' or 'pdf'",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "pdf"
              ],
              "default": "json"
            }
          },
          {
            "name": "include_content",
            "in": "query",
            "required": false,
            "description": "For JSON format: embed the full report content in the response",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "date",
            "in": "query",
            "required": false,
            "description": "Report date in YYYY-MM-DD format. Omit to get the latest report.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2024-01-15"
          }
        ],
        "responses": {
          "200": {
            "description": "Macro report retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MacroReportResponse"
                },
                "examples": {
                  "json_format": {
                    "summary": "JSON format response",
                    "value": {
                      "success": true,
                      "market": "United States",
                      "report_date": "2024-01-15",
                      "format": "json",
                      "file_url": "https://storage.example.com/reports/us-2024-01-15.json",
                      "content": null
                    }
                  },
                  "pdf_format": {
                    "summary": "PDF format response",
                    "value": {
                      "success": true,
                      "market": "United States",
                      "report_date": "2024-01-15",
                      "format": "pdf",
                      "pdf_url": "https://storage.example.com/reports/us-2024-01-15.pdf"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid format or date parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "format must be 'json' or 'pdf'"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Market not found or no report available",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "detail": "No macro report found for market 'Atlantis'"
                }
              }
            }
          }
        }
      }
    },
    "/v1/macro-report/markets": {
      "get": {
        "summary": "List Macro Report Markets",
        "description": "Get a list of all markets with available macro reports.",
        "operationId": "listMacroMarkets",
        "tags": [
          "Macro Reports"
        ],
        "responses": {
          "200": {
            "description": "List of available markets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MacroMarketsResponse"
                },
                "example": {
                  "success": true,
                  "markets": [
                    "China",
                    "Germany",
                    "Japan",
                    "United States"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/company-info": {
      "get": {
        "summary": "Company Info",
        "description": "Get comprehensive company information including description, sector, market data, latest price, and Parallax factor scores.",
        "operationId": "getCompanyInfo",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "Stock symbol (e.g., AAPL, 0700.HK). Comma-separated for multiple.",
            "schema": {
              "type": "string"
            },
            "example": "AAPL"
          }
        ],
        "responses": {
          "200": {
            "description": "Company information retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyInfoResponse"
                },
                "example": {
                  "activity": "Active",
                  "change": "7.16",
                  "changepercent": "2.9",
                  "close": "253.79",
                  "currency": "USD",
                  "defensive": "9.5",
                  "description": "Apple Inc. designs, manufactures and markets smartphones, personal computers, tablets, wearables and accessories...",
                  "exchange": "Nasdaq",
                  "exchangecode": "NAS",
                  "high": "254.28",
                  "industry": "Phones & Handheld Devices",
                  "low": "247.10",
                  "market": "United States",
                  "momentum": "7.5",
                  "mktcap": "3731400000000",
                  "name": "Apple Inc",
                  "open": "247.49",
                  "quality": "10.0",
                  "recommendation": "HOLD",
                  "ric": "AAPL.O",
                  "sector": "Technology",
                  "tactical": "7.0",
                  "total": "6.0",
                  "value": "2.0",
                  "volume": "62000000"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/peers": {
      "get": {
        "summary": "Peers",
        "description": "Get a list of peer companies for a given stock, including valuation metrics, performance, and Parallax scores.",
        "operationId": "getPeers",
        "tags": [
          "Company"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "Stock symbol (e.g., AAPL, MSFT)",
            "schema": {
              "type": "string"
            },
            "example": "AAPL"
          }
        ],
        "responses": {
          "200": {
            "description": "Peer companies retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PeerCompany"
                  }
                },
                "example": [
                  {
                    "ric": "AAPL.O",
                    "company_name": "Apple Inc",
                    "market": "United States",
                    "mtd": 0.0,
                    "ytd": -6.35,
                    "pe": 32.12,
                    "ev_ebitda": 24.56,
                    "roe": 170.68,
                    "de": 1.35,
                    "mktcap_b": 3731.4,
                    "recommendation": "HOLD",
                    "value": 2.0,
                    "quality": 10.0,
                    "momentum": 7.5,
                    "defensive": 9.5,
                    "tactical": 7.0,
                    "total": 6.0
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/news-analysis": {
      "post": {
        "summary": "News Analysis",
        "description": "Generate an AI-powered news analysis for a stock. Scans recent news and produces a concise summary with key takeaways. This endpoint uses async job processing.",
        "operationId": "newsAnalysis",
        "tags": [
          "Analysis"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "Stock symbol (e.g., AAPL, MSFT)",
            "schema": {
              "type": "string"
            },
            "example": "AAPL"
          }
        ],
        "responses": {
          "202": {
            "description": "Job created successfully. Poll the check_url for results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisJobResponse"
                },
                "example": {
                  "job_id": "stock-e1f4199f-9cd3-4175-9158-e3310b88f54b",
                  "status": "pending",
                  "symbol": "AAPL.O",
                  "limit": 10,
                  "check_url": "/v1/jobs/stock-e1f4199f-9cd3-4175-9158-e3310b88f54b",
                  "estimated_duration_seconds": 90,
                  "message": "News analysis started for AAPL.O."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/peers-analysis": {
      "post": {
        "summary": "Peers Analysis",
        "description": "Generate an AI-powered peer comparison analysis for a stock. Compares the company against its sector peers on valuation, performance, and fundamentals. This endpoint uses async job processing.",
        "operationId": "peersAnalysis",
        "tags": [
          "Analysis"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "Stock symbol (e.g., AAPL, MSFT)",
            "schema": {
              "type": "string"
            },
            "example": "AAPL"
          }
        ],
        "responses": {
          "202": {
            "description": "Job created successfully. Poll the check_url for results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisJobResponse"
                },
                "example": {
                  "job_id": "stock-66afc3d6-0409-4aa5-bb2d-be34e38efadb",
                  "status": "pending",
                  "symbol": "AAPL.O",
                  "check_url": "/v1/jobs/stock-66afc3d6-0409-4aa5-bb2d-be34e38efadb",
                  "estimated_duration_seconds": 60,
                  "message": "Peers analysis started for AAPL.O."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/score-analysis": {
      "post": {
        "summary": "Score Analysis",
        "description": "Generate an AI-powered narrative analysis of a stock's Parallax factor scores, interpreting what the scores mean in the current market context. This endpoint uses async job processing.",
        "operationId": "scoreAnalysis",
        "tags": [
          "Analysis"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "Stock symbol (e.g., AAPL, MSFT)",
            "schema": {
              "type": "string"
            },
            "example": "AAPL"
          }
        ],
        "responses": {
          "202": {
            "description": "Job created successfully. Poll the check_url for results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalysisJobResponse"
                },
                "example": {
                  "job_id": "stock-c96e0635-3459-47cd-9f52-ef0ab04d00ee",
                  "status": "pending",
                  "symbol": "AAPL.O",
                  "check_url": "/v1/jobs/stock-c96e0635-3459-47cd-9f52-ef0ab04d00ee",
                  "estimated_duration_seconds": 60,
                  "message": "Score analysis started for AAPL.O."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/builder": {
      "post": {
        "summary": "Universe Builder",
        "description": "Build a thematic stock universe from a natural language query. An AI agent interprets your query, searches ~65,000 company descriptions, and returns relevant stocks ranked by relevance score. This endpoint uses async job processing.",
        "operationId": "universeBuilder",
        "tags": [
          "Builder"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BuilderRequest"
              },
              "example": {
                "query": "Find me top 50 electric vehicle companies in Asia"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job created successfully. Poll the check_url for results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BuilderJobResponse"
                },
                "example": {
                  "job_id": "e2035316-0042-437a-9353-4b224f304d5a",
                  "status": "pending",
                  "query": "Top 20 electric vehicle companies in Asia",
                  "check_url": "/v1/jobs/e2035316-0042-437a-9353-4b224f304d5a",
                  "estimated_duration_seconds": 30,
                  "message": "Building stock universe for 'Top 20 electric vehicle companies in Asia'."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/daily-price": {
      "get": {
        "summary": "Daily Price",
        "description": "Get historical daily OHLCV price data for a stock.",
        "operationId": "getDailyPrice",
        "tags": [
          "Price"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "Stock symbol (e.g., AAPL, MSFT). Comma-separated for multiple.",
            "schema": {
              "type": "string"
            },
            "example": "AAPL"
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start date (YYYY-MM-DD). Defaults to 1 year ago.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-01-01"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End date (YYYY-MM-DD). Defaults to latest available.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-12-31"
          }
        ],
        "responses": {
          "200": {
            "description": "Daily price data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DailyPriceRecord"
                  }
                },
                "example": [
                  {
                    "ric": "AAPL.O",
                    "date": "2025-12-01",
                    "open": 278.01,
                    "high": 283.42,
                    "low": 276.14,
                    "close": 283.1,
                    "volume": 46587723,
                    "changepercent": 1.52
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/validate-symbol": {
      "get": {
        "summary": "Validate Symbol",
        "description": "Check if a stock symbol is valid and get its resolved RIC.",
        "operationId": "validateSymbol",
        "tags": [
          "Validation"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "Stock symbol to validate (e.g., AAPL, RELIANCE)",
            "schema": {
              "type": "string"
            },
            "example": "AAPL"
          }
        ],
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateSymbolResponse"
                },
                "examples": {
                  "valid": {
                    "summary": "Valid symbol",
                    "value": {
                      "success": true,
                      "symbol": "AAPL",
                      "ric": "AAPL.O",
                      "valid": true,
                      "message": "Symbol 'AAPL' resolved to RIC 'AAPL.O'"
                    }
                  },
                  "invalid": {
                    "summary": "Invalid symbol",
                    "value": {
                      "success": false,
                      "symbol": "FAKE123",
                      "ric": null,
                      "valid": false,
                      "message": "Symbol 'FAKE123' not found"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/balance-sheet": {
      "get": {
        "summary": "Balance Sheet",
        "description": "Retrieve balance sheet data for a given stock symbol. Returns assets, liabilities, and equity line items sourced from LSEG Datastream.",
        "operationId": "getBalanceSheet",
        "tags": [
          "Financial Statements"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "Stock symbol (e.g., AAPL.O, 0700.HK). Ticker shorthand like AAPL is also accepted.",
            "schema": {
              "type": "string"
            },
            "example": "AAPL.O"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of periods to return",
            "schema": {
              "type": "integer",
              "default": 4
            },
            "example": 4
          },
          {
            "name": "freq",
            "in": "query",
            "required": false,
            "description": "1 for Annual, 2 for Quarterly",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ],
              "default": 1
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Balance sheet data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BalanceSheetPeriod"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/income-statement": {
      "get": {
        "summary": "Income Statement",
        "description": "Retrieve income statement data for a given stock symbol. Returns line items from revenue through to EPS, sourced from LSEG Datastream.",
        "operationId": "getIncomeStatement",
        "tags": [
          "Financial Statements"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "Stock symbol (e.g., AAPL.O, 0700.HK). Ticker shorthand like AAPL is also accepted.",
            "schema": {
              "type": "string"
            },
            "example": "AAPL.O"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of periods to return",
            "schema": {
              "type": "integer",
              "default": 4
            },
            "example": 4
          },
          {
            "name": "freq",
            "in": "query",
            "required": false,
            "description": "1 for Annual, 2 for Quarterly",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ],
              "default": 1
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Income statement data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IncomeStatementPeriod"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/cash-flow": {
      "get": {
        "summary": "Cash Flow Statement",
        "description": "Retrieve cash flow statement data for a given stock symbol. Returns operating, investing, and financing cash flows sourced from LSEG Datastream.",
        "operationId": "getCashFlow",
        "tags": [
          "Financial Statements"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "Stock symbol (e.g., AAPL.O, 0700.HK). Ticker shorthand like AAPL is also accepted.",
            "schema": {
              "type": "string"
            },
            "example": "AAPL.O"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of periods to return",
            "schema": {
              "type": "integer",
              "default": 4
            },
            "example": 4
          },
          {
            "name": "freq",
            "in": "query",
            "required": false,
            "description": "1 for Annual, 2 for Quarterly",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ],
              "default": 1
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Cash flow data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CashFlowPeriod"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/key-ratios": {
      "get": {
        "summary": "Key Ratios",
        "description": "Retrieve key financial ratios for a given stock symbol. Returns profitability, liquidity, leverage, and efficiency ratios sourced from LSEG Datastream.",
        "operationId": "getKeyRatios",
        "tags": [
          "Financial Statements"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "Stock symbol (e.g., AAPL.O, 0700.HK). Ticker shorthand like AAPL is also accepted.",
            "schema": {
              "type": "string"
            },
            "example": "AAPL.O"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of periods to return",
            "schema": {
              "type": "integer",
              "default": 4
            },
            "example": 4
          },
          {
            "name": "freq",
            "in": "query",
            "required": false,
            "description": "1 for Annual, 2 for Quarterly",
            "schema": {
              "type": "integer",
              "enum": [
                1,
                2
              ],
              "default": 1
            },
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Key ratios retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KeyRatiosPeriod"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/etf/profile": {
      "get": {
        "summary": "ETF Profile",
        "description": "Get a comprehensive profile for an ETF including metadata, latest price, market cap, and Parallax factor scores.",
        "operationId": "getEtfProfile",
        "tags": [
          "ETF"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "ETF symbol (e.g., SPY, QQQ). Comma-separated for multiple.",
            "schema": {
              "type": "string"
            },
            "example": "SPY"
          }
        ],
        "responses": {
          "200": {
            "description": "ETF profile retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EtfProfileResponse"
                },
                "example": {
                  "symbol": "SPY.P",
                  "name": "STATE STREET SPDR S&P 500 ETF TRUST",
                  "activity": "ACTIVE",
                  "market": "UNITED STATES",
                  "exchange": "NYSE ARCA",
                  "exchangecode": "ARC",
                  "currency": "USD",
                  "close": 650.34,
                  "change_percent": 2.91,
                  "change": 18.37,
                  "volume": 152534130,
                  "mktcap": 650068323282,
                  "num_shares": 999582116,
                  "value": 4.0,
                  "quality": 8.0,
                  "momentum": 6.0,
                  "defensive": 8.0,
                  "tactical": 6.0,
                  "total": 5.9,
                  "recommendation": "HOLD",
                  "holdings_covered": 495,
                  "weight_covered": 98.37
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/etf/holdings": {
      "get": {
        "summary": "ETF Holdings",
        "description": "Get the top holdings of an ETF with their weights and Parallax factor scores.",
        "operationId": "getEtfHoldings",
        "tags": [
          "ETF"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "ETF symbol (e.g., SPY, QQQ). Comma-separated for multiple.",
            "schema": {
              "type": "string"
            },
            "example": "SPY"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of holdings to return",
            "schema": {
              "type": "integer",
              "default": 50
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "description": "ETF holdings retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EtfHolding"
                  }
                },
                "example": [
                  {
                    "symbol": "NVDA.O",
                    "weight": 7.31,
                    "reweight": 7.43,
                    "value": 2.5,
                    "quality": 10.0,
                    "momentum": 10.0,
                    "defensive": 7.0,
                    "tactical": 7.0,
                    "total": 7.9,
                    "recommendation": "BUY"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/etf/scores": {
      "get": {
        "summary": "ETF Scores",
        "description": "Get Parallax factor scores for an ETF, calculated as weighted averages across its holdings.",
        "operationId": "getEtfScores",
        "tags": [
          "ETF"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "ETF symbol (e.g., SPY, QQQ). Comma-separated for multiple.",
            "schema": {
              "type": "string"
            },
            "example": "SPY"
          }
        ],
        "responses": {
          "200": {
            "description": "ETF scores retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EtfScoresResponse"
                },
                "example": {
                  "symbol": "SPY.P",
                  "value": 4.0,
                  "quality": 8.0,
                  "momentum": 6.0,
                  "defensive": 8.0,
                  "tactical": 6.0,
                  "total": 5.9,
                  "recommendation": "HOLD",
                  "holdings_covered": 495,
                  "weight_covered": 98.37
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/etf/search": {
      "get": {
        "summary": "ETF Search",
        "description": "Search and filter ETFs by name, market, currency, score, and recommendation.",
        "operationId": "searchEtf",
        "tags": [
          "ETF"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Search ETF name (partial match, e.g., S&P, Vanguard)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "description": "Filter by market (e.g., UNITED STATES, UNITED KINGDOM)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "required": false,
            "description": "Filter by currency (e.g., USD, EUR)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_score",
            "in": "query",
            "required": false,
            "description": "Minimum total Parallax score",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "max_score",
            "in": "query",
            "required": false,
            "description": "Maximum total Parallax score",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "recommendation",
            "in": "query",
            "required": false,
            "description": "Filter by recommendation (e.g., BUY, STRONG BUY)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "activity",
            "in": "query",
            "required": false,
            "description": "Activity filter",
            "schema": {
              "type": "string",
              "default": "ACTIVE"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Max results (1-100)",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ETF search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EtfSearchResult"
                  }
                },
                "example": [
                  {
                    "symbol": "ZPDE.F",
                    "name": "STST SPDR S&P U S EN.SEL SECT.UCITS ETF",
                    "activity": "ACTIVE",
                    "market": "GERMANY",
                    "exchange": "XETRA",
                    "currency": "EUR",
                    "value": 6.0,
                    "quality": 7.0,
                    "momentum": 9.0,
                    "defensive": 8.0,
                    "tactical": 10.0,
                    "total": 8.8,
                    "recommendation": "STRONG BUY"
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/etf/validate": {
      "get": {
        "summary": "Validate ETF Symbol",
        "description": "Check if an ETF symbol is valid and get its resolved primary RIC.",
        "operationId": "validateEtf",
        "tags": [
          "ETF"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "ETF symbol to validate (e.g., SPY, QQQ)",
            "schema": {
              "type": "string"
            },
            "example": "SPY"
          }
        ],
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateEtfResponse"
                },
                "examples": {
                  "valid": {
                    "summary": "Valid symbol",
                    "value": {
                      "valid": true,
                      "symbol": "SPY",
                      "primary_symbol": "SPY.P"
                    }
                  },
                  "invalid": {
                    "summary": "Invalid symbol",
                    "value": {
                      "valid": false,
                      "symbol": "FAKE123",
                      "primary_symbol": null,
                      "error": "ETF symbol 'FAKE123' not found in IDENTIFIERS"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/etf/daily-price": {
      "get": {
        "summary": "ETF Daily Price",
        "description": "Get historical daily OHLCV price data for an ETF.",
        "operationId": "getEtfDailyPrice",
        "tags": [
          "ETF"
        ],
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "required": true,
            "description": "ETF symbol (e.g., SPY, QQQ). Comma-separated for multiple.",
            "schema": {
              "type": "string"
            },
            "example": "SPY"
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Start date (YYYY-MM-DD). Defaults to 1 year ago.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-01-01"
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "End date (YYYY-MM-DD). Defaults to latest available.",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "example": "2025-12-31"
          }
        ],
        "responses": {
          "200": {
            "description": "ETF daily price data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EtfDailyPriceRecord"
                  }
                },
                "example": [
                  {
                    "symbol": "SPY.P",
                    "date": "2025-12-01",
                    "open": 678.81,
                    "high": 682.99,
                    "low": 678.74,
                    "close": 680.27,
                    "volume": 61201192,
                    "change": -3.12,
                    "changepercent": -0.46
                  }
                ]
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/portfolioreport": {
      "post": {
        "summary": "Portfolio Report",
        "description": "Generate a PDF or HTML portfolio report from the output of the /v1/portfolio/analyze endpoint. This endpoint uses async job processing.",
        "operationId": "generatePortfolioReport",
        "tags": [
          "Portfolio"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PortfolioReportRequest"
              },
              "example": {
                "portfolio_data": {},
                "format": "pdf"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job created successfully. Poll the check_url for results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PortfolioReportJobResponse"
                },
                "example": {
                  "job_id": "port-a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                  "status": "pending",
                  "format": "pdf",
                  "check_url": "/v1/jobs/port-a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                  "estimated_duration_seconds": 60,
                  "message": "Portfolio report generation started. Poll the check_url to get results."
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key passed as Bearer token"
      }
    },
    "schemas": {
      "TechnicalAnalysisJobResponse": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "description": "Unique job identifier"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending"
            ],
            "description": "Initial job status"
          },
          "symbol": {
            "type": "string",
            "description": "Stock symbol being analyzed"
          },
          "force": {
            "type": "boolean",
            "description": "Whether force regeneration was requested"
          },
          "check_url": {
            "type": "string",
            "description": "URL to poll for job status"
          },
          "estimated_duration_seconds": {
            "type": "integer",
            "description": "Estimated processing time in seconds"
          },
          "message": {
            "type": "string",
            "description": "Human-readable status message"
          }
        }
      },
      "TechnicalAnalysisResult": {
        "type": "object",
        "properties": {
          "executive_summary": {
            "type": "string",
            "description": "2-3 sentence summary with price, key indicators, and directional bias"
          },
          "technical_analysis": {
            "type": "object",
            "properties": {
              "trend_analysis": {
                "type": "string",
                "description": "Price vs moving averages and trend direction"
              },
              "momentum_indicators": {
                "type": "string",
                "description": "RSI, MACD readings and interpretation"
              },
              "price_action": {
                "type": "string",
                "description": "Support/resistance levels and key price zones"
              },
              "volume_analysis": {
                "type": "string",
                "description": "Volume patterns and implications"
              },
              "volatility_assessment": {
                "type": "string",
                "description": "ATR, Bollinger Bands, volatility level"
              }
            }
          },
          "risk_assessment": {
            "type": "object",
            "properties": {
              "volatility_level": {
                "type": "string",
                "description": "Volatility classification"
              },
              "risk_factors": {
                "type": "string",
                "description": "Key risk levels and stop-loss guidance"
              }
            }
          }
        }
      },
      "FinancialAnalysisJobResponse": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "description": "Unique job identifier"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending"
            ],
            "description": "Initial job status"
          },
          "symbol": {
            "type": "string",
            "description": "Stock symbol being analyzed"
          },
          "check_url": {
            "type": "string",
            "description": "URL to poll for job status"
          },
          "estimated_duration_seconds": {
            "type": "integer",
            "description": "Estimated processing time in seconds"
          },
          "message": {
            "type": "string",
            "description": "Human-readable status message"
          }
        }
      },
      "StockReportRequest": {
        "type": "object",
        "required": [
          "symbol"
        ],
        "description": "Request body for stock report generation",
        "properties": {
          "symbol": {
            "type": "string",
            "description": "Stock symbol (e.g., AAPL.O for Apple Inc)",
            "example": "AAPL.O"
          },
          "force": {
            "type": "boolean",
            "default": false,
            "description": "Force regeneration even if recent report exists",
            "example": false
          }
        }
      },
      "StockReportJobResponse": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "description": "Unique job identifier"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending"
            ],
            "description": "Initial job status"
          },
          "symbol": {
            "type": "string",
            "description": "Stock symbol being processed"
          },
          "force": {
            "type": "boolean",
            "description": "Whether force regeneration was requested"
          },
          "check_url": {
            "type": "string",
            "description": "URL to poll for job status"
          },
          "estimated_duration_seconds": {
            "type": "integer",
            "description": "Estimated processing time in seconds"
          },
          "message": {
            "type": "string",
            "description": "Human-readable status message"
          }
        }
      },
      "StockReportResult": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "symbol": {
            "type": "string",
            "description": "Stock symbol"
          },
          "pdf_url": {
            "type": "string",
            "nullable": true,
            "description": "URL to download PDF report"
          },
          "html_url": {
            "type": "string",
            "nullable": true,
            "description": "URL to view HTML report"
          },
          "json_url": {
            "type": "string",
            "nullable": true,
            "description": "URL to download JSON data"
          }
        }
      },
      "PortfolioHolding": {
        "type": "object",
        "required": [
          "date",
          "symbol",
          "weight"
        ],
        "description": "A single portfolio holding entry for a rebalance date",
        "properties": {
          "date": {
            "type": "string",
            "format": "date",
            "description": "Rebalance date in YYYY-MM-DD format",
            "example": "2024-01-01"
          },
          "symbol": {
            "type": "string",
            "description": "Stock symbol (e.g., AAPL.O for Apple Inc)",
            "example": "AAPL.O"
          },
          "weight": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Portfolio weight as decimal (0.25 = 25%)",
            "example": 0.25
          }
        }
      },
      "PortfolioAnalysisRequest": {
        "type": "object",
        "required": [
          "portfolio"
        ],
        "description": "Request body for portfolio analysis",
        "properties": {
          "portfolio": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PortfolioHolding"
            },
            "description": "List of holdings with date, symbol, and weight. Weights should sum to 1.0 for each rebalance date. Multiple dates supported for rebalancing.",
            "minItems": 1
          },
          "start_date": {
            "type": "string",
            "format": "date",
            "description": "Analysis start date (YYYY-MM-DD). If not provided, defaults to first rebalance date in portfolio.",
            "example": "2024-01-01"
          },
          "end_date": {
            "type": "string",
            "format": "date",
            "description": "Analysis end date (YYYY-MM-DD). If not provided, defaults to yesterday. Future dates are auto-capped to yesterday.",
            "example": "2024-11-01"
          },
          "base_currency": {
            "type": "string",
            "default": "USD",
            "description": "Base currency for portfolio valuation. Supports USD, SGD, EUR, GBP, JPY, etc.",
            "example": "USD"
          },
          "benchmark": {
            "type": "string",
            "default": "ACWI",
            "description": "Benchmark for comparison (e.g., ACWI, SPY)",
            "example": "ACWI"
          },
          "initial_value": {
            "type": "number",
            "default": 10000,
            "description": "Initial portfolio value in base currency. Used to calculate absolute P&L and position sizes.",
            "example": 10000
          },
          "include_transaction_costs": {
            "type": "boolean",
            "default": false,
            "description": "Apply market-specific transaction costs during rebalancing",
            "example": false
          },
          "transaction_cost_config": {
            "type": "object",
            "nullable": true,
            "description": "Custom transaction cost rates by market. Format: {'market_name': {'buy': rate, 'sell': rate}}. If not provided, uses default rates.",
            "example": {
              "Singapore": {
                "buy": 0.14,
                "sell": 0.14
              },
              "United States": {
                "buy": 0.1,
                "sell": 0.1
              }
            }
          },
          "fields": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "portfolio_parameters",
                "portfolio_input",
                "data_quality",
                "portfolio_summary",
                "turnover_analysis",
                "performance_metrics",
                "rolling_metrics",
                "drawdown_analysis",
                "portfolio_scores",
                "concentration_metrics",
                "transactions",
                "company_info",
                "latest_holdings",
                "market_allocation",
                "sector_allocation",
                "currency_allocation",
                "company_contribution",
                "sector_contribution",
                "market_contribution",
                "time_period_returns",
                "monthly_returns",
                "annual_returns",
                "benchmark_prices",
                "daily_summary"
              ]
            },
            "description": "Optional field selection. If omitted, all fields are returned. Use this to reduce response size.",
            "example": [
              "portfolio_summary",
              "performance_metrics",
              "latest_holdings"
            ]
          }
        }
      },
      "JobCreatedResponse": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "description": "Unique job identifier"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending"
            ],
            "description": "Initial job status"
          },
          "check_url": {
            "type": "string",
            "description": "URL to poll for job status"
          },
          "estimated_duration_seconds": {
            "type": "integer",
            "description": "Estimated processing time in seconds"
          },
          "message": {
            "type": "string",
            "description": "Human-readable status message"
          },
          "portfolio_summary": {
            "type": "object",
            "properties": {
              "positions": {
                "type": "integer",
                "description": "Number of positions in portfolio"
              },
              "start_date": {
                "type": "string",
                "description": "Analysis start date"
              },
              "end_date": {
                "type": "string",
                "description": "Analysis end date"
              }
            }
          }
        }
      },
      "JobStatusResponse": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "description": "Job identifier"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "completed",
              "failed"
            ],
            "description": "Current job status"
          },
          "progress": {
            "type": "object",
            "description": "Progress information (when processing)",
            "properties": {
              "step": {
                "type": "string",
                "description": "Current processing step"
              },
              "percent": {
                "type": "integer",
                "description": "Completion percentage (0-100)"
              },
              "message": {
                "type": "string",
                "description": "Progress message"
              }
            }
          },
          "result": {
            "$ref": "#/components/schemas/PortfolioAnalysisResult",
            "description": "Analysis result (when completed)"
          },
          "error": {
            "type": "string",
            "description": "Error message (when failed)"
          }
        }
      },
      "PortfolioAnalysisResult": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "result": {
            "type": "object",
            "properties": {
              "portfolio_parameters": {
                "type": "object",
                "description": "Echoed portfolio configuration",
                "properties": {
                  "start_date": {
                    "type": "string"
                  },
                  "end_date": {
                    "type": "string"
                  },
                  "base_currency": {
                    "type": "string"
                  },
                  "benchmark": {
                    "type": "string"
                  },
                  "initial_value": {
                    "type": "number"
                  },
                  "include_transaction_costs": {
                    "type": "boolean"
                  },
                  "transaction_costs_applied": {
                    "type": "object",
                    "nullable": true
                  }
                }
              },
              "data_quality": {
                "type": "object",
                "description": "Data coverage and missing RICs",
                "properties": {
                  "total_rics_requested": {
                    "type": "integer"
                  },
                  "rics_found_in_database": {
                    "type": "integer"
                  },
                  "missing_rics": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "missing_rics_count": {
                    "type": "integer"
                  },
                  "data_completeness_pct": {
                    "type": "number"
                  }
                }
              },
              "portfolio_summary": {
                "type": "object",
                "description": "High-level P&L summary",
                "properties": {
                  "final_value": {
                    "type": "number",
                    "description": "Final portfolio value"
                  },
                  "total_return": {
                    "type": "number",
                    "description": "Total return as decimal"
                  },
                  "total_price_pl": {
                    "type": "number",
                    "description": "P&L from price changes"
                  },
                  "total_fx_pl": {
                    "type": "number",
                    "description": "P&L from FX changes"
                  },
                  "total_pl": {
                    "type": "number",
                    "description": "Total P&L"
                  },
                  "total_transaction_cost": {
                    "type": "number",
                    "description": "Total transaction costs incurred"
                  },
                  "transaction_cost_pct_of_initial": {
                    "type": "number",
                    "description": "Transaction costs as % of initial value"
                  },
                  "include_transaction_costs": {
                    "type": "boolean",
                    "description": "Whether transaction costs were applied"
                  }
                }
              },
              "turnover_analysis": {
                "type": "object",
                "description": "Portfolio turnover and transaction cost analysis",
                "properties": {
                  "summary": {
                    "type": "object",
                    "properties": {
                      "days_in_period": {
                        "type": "integer"
                      },
                      "num_rebalances": {
                        "type": "integer"
                      },
                      "annualized_turnover_pct": {
                        "type": "number"
                      },
                      "total_transaction_cost": {
                        "type": "number"
                      },
                      "annualized_cost_pct": {
                        "type": "number"
                      },
                      "total_buy_value": {
                        "type": "number"
                      },
                      "total_sell_value": {
                        "type": "number"
                      },
                      "include_transaction_costs": {
                        "type": "boolean"
                      }
                    }
                  },
                  "by_rebalance": {
                    "type": "array",
                    "description": "Turnover breakdown by rebalance date"
                  },
                  "by_market": {
                    "type": "object",
                    "description": "Turnover breakdown by market"
                  }
                }
              },
              "performance_metrics": {
                "type": "object",
                "description": "Comprehensive risk-return metrics",
                "properties": {
                  "portfolio": {
                    "type": "object",
                    "properties": {
                      "total_return": {
                        "type": "number"
                      },
                      "annualized_return": {
                        "type": "number"
                      },
                      "annualized_volatility": {
                        "type": "number"
                      },
                      "max_drawdown": {
                        "type": "number"
                      },
                      "sharpe_ratio": {
                        "type": "number"
                      },
                      "sortino_ratio": {
                        "type": "number"
                      },
                      "calmar_ratio": {
                        "type": "number"
                      },
                      "win_rate": {
                        "type": "number"
                      },
                      "var_95": {
                        "type": "number"
                      },
                      "var_99": {
                        "type": "number"
                      }
                    }
                  },
                  "benchmark": {
                    "type": "object",
                    "properties": {
                      "total_return": {
                        "type": "number"
                      },
                      "annualized_return": {
                        "type": "number"
                      },
                      "sharpe_ratio": {
                        "type": "number"
                      },
                      "max_drawdown": {
                        "type": "number"
                      }
                    }
                  },
                  "relative": {
                    "type": "object",
                    "properties": {
                      "beta": {
                        "type": "number"
                      },
                      "alpha_annualized": {
                        "type": "number"
                      },
                      "correlation": {
                        "type": "number"
                      },
                      "information_ratio": {
                        "type": "number"
                      },
                      "tracking_error": {
                        "type": "number"
                      },
                      "excess_return": {
                        "type": "number"
                      }
                    }
                  }
                }
              },
              "rolling_metrics": {
                "type": "object",
                "description": "30/60/90-day rolling metrics with timeseries"
              },
              "drawdown_analysis": {
                "type": "object",
                "description": "Complete drawdown analysis with episodes"
              },
              "portfolio_scores": {
                "type": "object",
                "description": "Quant factor scores",
                "properties": {
                  "value": {
                    "type": "number"
                  },
                  "quality": {
                    "type": "number"
                  },
                  "momentum": {
                    "type": "number"
                  },
                  "defensive": {
                    "type": "number"
                  },
                  "tactical": {
                    "type": "number"
                  },
                  "total": {
                    "type": "number"
                  },
                  "coverage": {
                    "type": "number"
                  }
                }
              },
              "concentration_metrics": {
                "type": "object",
                "description": "Portfolio concentration analysis"
              },
              "transactions": {
                "type": "array",
                "description": "All buy/sell transactions",
                "items": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string"
                    },
                    "ric": {
                      "type": "string"
                    },
                    "transaction_qty": {
                      "type": "number"
                    },
                    "transaction_value": {
                      "type": "number"
                    },
                    "transaction_type": {
                      "type": "string",
                      "enum": [
                        "BUY",
                        "SELL"
                      ]
                    }
                  }
                }
              },
              "latest_holdings": {
                "type": "array",
                "description": "Current portfolio positions",
                "items": {
                  "type": "object",
                  "properties": {
                    "ric": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "quantity": {
                      "type": "number"
                    },
                    "weight": {
                      "type": "number"
                    },
                    "ending_value": {
                      "type": "number"
                    },
                    "market": {
                      "type": "string"
                    },
                    "sector": {
                      "type": "string"
                    }
                  }
                }
              },
              "market_allocation": {
                "type": "array",
                "description": "Market allocation over time"
              },
              "sector_allocation": {
                "type": "array",
                "description": "Sector allocation over time"
              },
              "currency_allocation": {
                "type": "array",
                "description": "Currency allocation over time"
              },
              "company_contribution": {
                "type": "array",
                "description": "P&L contribution by company"
              },
              "sector_contribution": {
                "type": "array",
                "description": "P&L contribution by sector"
              },
              "market_contribution": {
                "type": "array",
                "description": "P&L contribution by market"
              },
              "time_period_returns": {
                "type": "object",
                "description": "Returns for various lookback periods (MTD, YTD, 1Y, etc.)"
              },
              "monthly_returns": {
                "type": "array",
                "description": "Monthly calendar returns"
              },
              "annual_returns": {
                "type": "array",
                "description": "Annual calendar returns"
              },
              "benchmark_prices": {
                "type": "array",
                "description": "Benchmark price timeseries"
              },
              "daily_summary": {
                "type": "array",
                "description": "Daily portfolio values (equity curve)",
                "items": {
                  "type": "object",
                  "properties": {
                    "date": {
                      "type": "string"
                    },
                    "portfolio_value": {
                      "type": "number"
                    },
                    "daily_return": {
                      "type": "number"
                    },
                    "cumulative_return": {
                      "type": "number"
                    },
                    "benchmark_value": {
                      "type": "number"
                    },
                    "benchmark_daily_return": {
                      "type": "number"
                    },
                    "benchmark_cumulative_return": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string",
            "description": "Error message"
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "loc": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "msg": {
                  "type": "string"
                },
                "type": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "MacroReportResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the request was successful"
          },
          "market": {
            "type": "string",
            "description": "Market name"
          },
          "report_date": {
            "type": "string",
            "format": "date",
            "description": "Report date"
          },
          "format": {
            "type": "string",
            "enum": [
              "json",
              "pdf"
            ],
            "description": "Response format"
          },
          "file_url": {
            "type": "string",
            "nullable": true,
            "description": "URL to JSON report file (when format=json)"
          },
          "content": {
            "type": "object",
            "nullable": true,
            "description": "Full report content (when format=json and include_content=true)"
          },
          "pdf_url": {
            "type": "string",
            "nullable": true,
            "description": "URL to PDF report file (when format=pdf)"
          }
        }
      },
      "MacroMarketsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the request was successful"
          },
          "markets": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of available market names"
          }
        }
      },
      "CompanyInfoResponse": {
        "type": "object",
        "properties": {
          "ric": {
            "type": "string",
            "description": "Reuters Instrument Code"
          },
          "name": {
            "type": "string",
            "description": "Company name"
          },
          "description": {
            "type": "string",
            "description": "Business description"
          },
          "sector": {
            "type": "string",
            "description": "Sector classification"
          },
          "industry": {
            "type": "string",
            "description": "Industry classification"
          },
          "market": {
            "type": "string",
            "description": "Country/market"
          },
          "exchange": {
            "type": "string",
            "description": "Stock exchange"
          },
          "exchangecode": {
            "type": "string",
            "description": "Exchange code"
          },
          "currency": {
            "type": "string",
            "description": "Trading currency"
          },
          "activity": {
            "type": "string",
            "description": "Company status"
          },
          "close": {
            "type": "string",
            "description": "Latest closing price"
          },
          "open": {
            "type": "string",
            "description": "Opening price"
          },
          "high": {
            "type": "string",
            "description": "Day high"
          },
          "low": {
            "type": "string",
            "description": "Day low"
          },
          "change": {
            "type": "string",
            "description": "Absolute price change"
          },
          "changepercent": {
            "type": "string",
            "description": "Percentage price change"
          },
          "volume": {
            "type": "string",
            "description": "Trading volume"
          },
          "mktcap": {
            "type": "string",
            "description": "Market capitalization"
          },
          "value": {
            "type": "string",
            "description": "Parallax value score (0-10)"
          },
          "quality": {
            "type": "string",
            "description": "Parallax quality score (0-10)"
          },
          "momentum": {
            "type": "string",
            "description": "Parallax momentum score (0-10)"
          },
          "defensive": {
            "type": "string",
            "description": "Parallax defensive score (0-10)"
          },
          "tactical": {
            "type": "string",
            "description": "Parallax tactical score (0-10)"
          },
          "total": {
            "type": "string",
            "description": "Composite Parallax score"
          },
          "recommendation": {
            "type": "string",
            "description": "STRONG BUY, BUY, HOLD, SELL, STRONG SELL"
          }
        }
      },
      "PeerCompany": {
        "type": "object",
        "properties": {
          "ric": {
            "type": "string",
            "description": "Reuters Instrument Code"
          },
          "company_name": {
            "type": "string",
            "description": "Company name"
          },
          "market": {
            "type": "string",
            "description": "Country/market"
          },
          "mtd": {
            "type": "number",
            "description": "Month-to-date return (%)"
          },
          "ytd": {
            "type": "number",
            "description": "Year-to-date return (%)"
          },
          "pe": {
            "type": "number",
            "description": "Price-to-earnings ratio"
          },
          "ev_ebitda": {
            "type": "number",
            "description": "Enterprise value to EBITDA"
          },
          "roe": {
            "type": "number",
            "description": "Return on equity (%)"
          },
          "de": {
            "type": "number",
            "description": "Debt-to-equity ratio"
          },
          "mktcap_b": {
            "type": "number",
            "description": "Market cap in billions (USD)"
          },
          "recommendation": {
            "type": "string",
            "description": "STRONG BUY, BUY, HOLD, SELL, STRONG SELL"
          },
          "value": {
            "type": "number",
            "description": "Parallax value score (0-10)"
          },
          "quality": {
            "type": "number",
            "description": "Parallax quality score (0-10)"
          },
          "momentum": {
            "type": "number",
            "description": "Parallax momentum score (0-10)"
          },
          "defensive": {
            "type": "number",
            "description": "Parallax defensive score (0-10)"
          },
          "tactical": {
            "type": "number",
            "description": "Parallax tactical score (0-10)"
          },
          "total": {
            "type": "number",
            "description": "Composite Parallax score"
          }
        }
      },
      "AnalysisJobResponse": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "description": "Unique job identifier"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending"
            ],
            "description": "Initial job status"
          },
          "symbol": {
            "type": "string",
            "description": "Stock symbol being analyzed"
          },
          "check_url": {
            "type": "string",
            "description": "URL to poll for job status"
          },
          "estimated_duration_seconds": {
            "type": "integer",
            "description": "Estimated processing time in seconds"
          },
          "message": {
            "type": "string",
            "description": "Human-readable status message"
          }
        }
      },
      "BuilderRequest": {
        "type": "object",
        "required": [
          "query"
        ],
        "properties": {
          "query": {
            "type": "string",
            "minLength": 2,
            "maxLength": 500,
            "description": "Natural language query describing the investment theme and any filters",
            "example": "Find me top 50 electric vehicle companies in Asia"
          }
        }
      },
      "BuilderJobResponse": {
        "type": "object",
        "properties": {
          "job_id": {
            "type": "string",
            "description": "Unique job identifier"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending"
            ],
            "description": "Initial job status"
          },
          "query": {
            "type": "string",
            "description": "The search query submitted"
          },
          "check_url": {
            "type": "string",
            "description": "URL to poll for job status"
          },
          "estimated_duration_seconds": {
            "type": "integer",
            "description": "Estimated processing time in seconds"
          },
          "message": {
            "type": "string",
            "description": "Human-readable status message"
          }
        }
      },
      "DailyPriceRecord": {
        "type": "object",
        "properties": {
          "ric": {
            "type": "string",
            "description": "Resolved RIC"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "Trading date"
          },
          "open": {
            "type": "number",
            "description": "Opening price"
          },
          "high": {
            "type": "number",
            "description": "Day high price"
          },
          "low": {
            "type": "number",
            "description": "Day low price"
          },
          "close": {
            "type": "number",
            "description": "Closing price"
          },
          "volume": {
            "type": "integer",
            "description": "Daily trading volume"
          },
          "changepercent": {
            "type": "number",
            "description": "Percentage price change from previous close"
          }
        }
      },
      "ValidateSymbolResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether the request was successful"
          },
          "symbol": {
            "type": "string",
            "description": "The symbol that was queried"
          },
          "ric": {
            "type": "string",
            "nullable": true,
            "description": "Resolved Reuters Instrument Code (null if invalid)"
          },
          "valid": {
            "type": "boolean",
            "description": "Whether the symbol is valid"
          },
          "message": {
            "type": "string",
            "description": "Human-readable result message"
          }
        }
      },
      "BalanceSheetPeriod": {
        "type": "object",
        "properties": {
          "ric": {
            "type": "string",
            "description": "Reuters Instrument Code"
          },
          "perenddt": {
            "type": "string",
            "format": "date",
            "description": "Period end date"
          },
          "stmtdt": {
            "type": "string",
            "format": "date",
            "description": "Statement date"
          },
          "sourcedt": {
            "type": "string",
            "format": "date",
            "description": "Source date"
          },
          "pertypecode": {
            "type": "integer",
            "description": "1 for Annual, 2 for Quarterly"
          },
          "currency": {
            "type": "string",
            "description": "Reporting currency"
          },
          "unitsconvtocode": {
            "type": "string",
            "description": "Unit scale (e.g., M for millions)"
          },
          "cash_and_short_term_investments": {
            "type": "number",
            "nullable": true,
            "description": "Cash, cash equivalents, and short-term investments"
          },
          "accounts_receivable_trade_net": {
            "type": "number",
            "nullable": true
          },
          "total_receivables_net": {
            "type": "number",
            "nullable": true
          },
          "total_inventory": {
            "type": "number",
            "nullable": true
          },
          "total_current_assets": {
            "type": "number",
            "nullable": true,
            "description": "Total short-term assets"
          },
          "property_plant_equipment_total_net": {
            "type": "number",
            "nullable": true,
            "description": "PP&E net of depreciation"
          },
          "goodwill_net": {
            "type": "number",
            "nullable": true
          },
          "long_term_investments": {
            "type": "number",
            "nullable": true
          },
          "total_assets": {
            "type": "number",
            "nullable": true,
            "description": "Total assets"
          },
          "accounts_payable": {
            "type": "number",
            "nullable": true
          },
          "total_current_liabilities": {
            "type": "number",
            "nullable": true,
            "description": "Total short-term liabilities"
          },
          "total_long_term_debt": {
            "type": "number",
            "nullable": true,
            "description": "Long-term borrowings"
          },
          "total_debt": {
            "type": "number",
            "nullable": true,
            "description": "Total debt (short-term + long-term)"
          },
          "total_liabilities": {
            "type": "number",
            "nullable": true,
            "description": "Total liabilities"
          },
          "total_equity": {
            "type": "number",
            "nullable": true,
            "description": "Shareholders' equity"
          },
          "total_liabilities_and_shareholders_equity": {
            "type": "number",
            "nullable": true
          },
          "total_common_shares_outstanding": {
            "type": "number",
            "nullable": true,
            "description": "Shares outstanding"
          }
        }
      },
      "IncomeStatementPeriod": {
        "type": "object",
        "properties": {
          "ric": {
            "type": "string",
            "description": "Reuters Instrument Code"
          },
          "perenddt": {
            "type": "string",
            "format": "date",
            "description": "Period end date"
          },
          "stmtdt": {
            "type": "string",
            "format": "date"
          },
          "sourcedt": {
            "type": "string",
            "format": "date"
          },
[...]
